:root{
    --fuenteHeading:'PT Sans','sans-serif';
    --fuenteparrafos:'Open Sans','sans-serif';
    --primario: #03492d;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteHeading);
    font-size: 1.6rem;
    line-height: 2;
    background-color: #b446c8;
}

/* Globales */

.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;

}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

.no-margin{
    margin: 0;
}

.centrar-texto{
    text-align: center;
}

.header{
    height: 60rem;
    background-size: cover;
    background-position: center;
    background-color: #b446c8;

}

.header_texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
    background-color: rgba(44, 120, 141, 0.5);
    border-radius: 5rem;

}

@media(min-width:768px){
    .header_texto{
        margin-top: 10rem;
        
    }
}

.barra{
    padding-top: 4rem;
}

@media(min-width:768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}

.logo{
    color: var(--blanco);
    background-color: rgba(44, 120, 141, 0.5);
    border-radius: 1rem;
    padding: 0.5rem;
}

.logo_nombre{
    font-weight: 250;

}

.logo_bold{
    font-weight: 300;
}

@media(min-width:768px){
    .navegacion{
        display: flex;
        gap: 2rem;
        background-color: rgba(44, 120, 141, 0.5);
        border-radius: 1rem;
        padding: 0.5rem;
    }
}

.navegacion_enlace{
     display: block;
     text-align: center;
     font-size: 1.8rem;
     color: var(--blanco);
     font-weight: 700;

}

@media(min-width:768px){
    .contenedor_principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
        background-color: #b446c8;
    }
}

.entrada{
    border-bottom: 5px solid var(--gris);
    margin-bottom: 2rem;
    border: none;
}

.boton{
    display: block;
    font-family: var(--fuenteHeading);
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background-color:  rgba(44, 120, 141, 0.5);
    color: var(--blanco);

}

.boton :hover{
    cursor: pointer
}

.boton_primario{
    background-color:  rgba(44, 120, 141, 0.5);
}

.boton_secundario{
    background-color:  rgba(44, 120, 141, 0.5);
}

.widget-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 4rem;
}

.widget-curso_label{
    font-size: var(--fuenteparrafos);
    font-weight: 700;
}

img{
    max-width: 100%;
}

.footer{
    background-color: rgba(44, 120, 141, 0.5);
    padding: 1rem;
}

/* FORMULARIO */


.formulario{

    background-color: black;
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1.5rem;
    
}

.formulario fieldset{

    border: none;
    
}
    
.formulario legend{

        text-decoration: none;
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        color: var(--blanco);
}

    
.campo{
    margin-bottom: 1rem;
}

.campo label{

        color: var(--blanco);
        font-weight: bold;
        margin-bottom: .5rem;
        display: block;

}
    
.campo input{

        width: 100%;
        border: var(--obscuro);
        padding: .5rem;
}

.input_text{

        width:100% ;
        border: none;
        padding: 2.5rem;
        border-radius: 1rem;
        border: none;
}

.boton_1{

        width: 100%;
        background-color: var(--blanco);
        color: var(--obscuro);
        padding: 1rem;
        border-radius: 1rem;
        text-decoration: none;
        text-transform: 1rem;
        font-size: 2rem;
        margin-top: 1rem;
}

.alert-danger{
    color: #fff; 
    background-color: #ff5858;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
}


















